In [27]:
# Import dependencies
import os
import csv
from pathlib import Path
from sqlalchemy import create_engine, Column, String, Integer, Float, text

#load csv files
employees_path = Path("csv_files/employees.csv")
departments_path = Path("csv_files/departments.csv")
dept_emp_path = Path("csv_files/dept_emp.csv")
titles_path = Path("csv_files/titles.csv")
salaries_path = Path("csv_files/salaries.csv")
dept_manager_path = Path("csv_files/dept_manager.csv")

In [28]:
# create database connection
db = create_engine('postgresql://postgres:postgres@localhost:5433/employeedb')

In [ ]:
# # load employees table
#  with open(employees_path, 'r') as file:
#     employees_data = csv.reader(file)
#     next(employees_data)

#     for row in employees_data:

In [29]:
# load departments data
conn = db.connect()

with open(departments_path, 'r') as file:
    csv_data = csv.reader(file)
    next(csv_data)

    for row in csv_data:
        col_dept_no = row[0]
        col_dept_name = row[1]
        
        qry = text("INSERT INTO departments(dept_no,dept_name)" +
                   f"VALUES ('{col_dept_no}','{col_dept_name}')")
        
        conn.execute(qry)
        

conn.close()

In [31]:
# load titles data
conn = db.connect()

with open(titles_path, 'r') as file:
    csv_data = csv.reader(file)
    next(csv_data)

    for row in csv_data:
        col_title_id = row[0]
        col_title = row[1]
        
        qry = text("INSERT INTO titles(title_id,title)" +
                   f"VALUES ('{col_title_id}','{col_title}')")
        
        conn.execute(qry)
        

conn.close()

In [33]:
# load employee data
conn = db.connect()

with open(employees_path, 'r') as file:
    csv_data = csv.reader(file)
    next(csv_data)

    for row in csv_data:
        col_emp_no = int(row[0])
        col_emp_title_id = row[1]
        col_birth_date = row[2]
        col_first_name = row[3]
        col_last_name = row[4]
        col_sex = row[5]
        col_hire_date = row[6]

        qry = text("INSERT INTO employee(emp_no,emp_title_id,birth_date,first_name,last_name,sex,hire_date) " +
                   f"VALUES ({col_emp_no},'{col_emp_title_id}','{col_birth_date}','{col_first_name}', " +
                   f"'{col_last_name}','{col_sex}','{col_hire_date}')")
        
        conn.execute(qry)
        

conn.close()

In [34]:
# load salaries data
conn = db.connect()

with open(salaries_path, 'r') as file:
    csv_data = csv.reader(file)
    next(csv_data)

    for row in csv_data:
        col_emp_no = row[0]
        col_salary = row[1]

        qry = text("INSERT INTO salaries(emp_no,salary)" +
                   f"VALUES ('{col_emp_no}','{col_salary}')")
        
        conn.execute(qry)
        

conn.close()

In [35]:
# load dept_emp data
conn = db.connect()

with open(dept_emp_path, 'r') as file:
    csv_data = csv.reader(file)
    next(csv_data)

    for row in csv_data:
        col_emp_no = row[0]
        col_dept_no = row[1]

        qry = text("INSERT INTO dept_emp(emp_no,dept_no)" +
                   f"VALUES ('{col_emp_no}','{col_dept_no}')")
        
        conn.execute(qry)
        

conn.close()

In [36]:
# load dept_manager data
conn = db.connect()

with open(dept_manager_path, 'r') as file:
    csv_data = csv.reader(file)
    next(csv_data)

    for row in csv_data:
        col_dept_no = row[0]
        col_emp_no = row[1]

        qry = text("INSERT INTO dept_manager(dept_no,emp_no)" +
                   f"VALUES ('{col_dept_no}','{col_emp_no}')")
        
        conn.execute(qry)
        

conn.close()

In [10]:
# open database connection
conn = db.connect()

qry = text("""INSERT INTO salaries(emp_no, salary) VALUES (4, 5000)""")

conn.execute(qry)

conn.close()

In [ ]:
conn = db.connect()

qry = text("SELECT emp_no, salary FROM salaries")

result = conn.execute(qry)

for itm in result:
    emp = itm[0]
    sal = itm[1]
    output = str(emp) + ' - ' + str(sal)
    print(output)

conn.close()